<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/sql_manager.css" />
    <title id="title">SQL Ninja</title>
  </head>
  <body>
    <!-- Toolbar -->
    <nav>
      <div class="nav-logo">
        <img src="/img/logo_rnd.svg" alt="SQL Ninja" />
        <p id="title-holder"></p>
      </div>

      <div class="actions">
        <button class="btns minimize-btn">
          <i class="fas fa-window-minimize"></i>
        </button>
        <button class="btns maximize-btn">
          <i class="fas fa-window-maximize" id="max-unmax"></i>
        </button>
        <button class="btns close-btn"><i class="fas fa-times"></i></button>
      </div>
    </nav>

    <!-- Main Thing -->
    <main>
      <!-- Flash Notifictions -->
      <% if (typeof messages.success !== 'undefined' && messages.success !== '')
      { %>
      <div
        class="flash-success"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 4rem;
          background-color: #27ad5f;
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
          z-index: 9999;
        "
      >
        <i class="fas fa-check" style="margin: 0 1rem"></i>
        <p><%= messages.success %></p>
      </div>
      <% } %> <% if (typeof messages.error !== 'undefined' && messages.error !==
      '') { %>
      <div
        class="flash-error"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 4rem;
          background-color: #d33c31;
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
          z-index: 9999;
        "
      >
        <i class="fas fa-times" style="margin: 0 1rem"></i>
        <p><%= messages.error %></p>
      </div>
      <% } %> <% if (typeof messages.info !== 'undefined' && messages.info !==
      '') { %>
      <div
        class="flash-info"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 4rem;
          background-color: #0475b6;
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
          z-index: 9999;
        "
      >
        <i class="fas fa-info-circle" style="margin: 0 1rem"></i>
        <p><%= messages.info %></p>
      </div>
      <% } %>

      <article>
        <section class="sql-form">
          <form action="/validate_sql" method="post">
            <textarea
              name="sql"
              id="sql"
              cols="30"
              rows="10"
              placeholder="Enter your SQL here..."
              class="sql-input"
            ></textarea>
            <button type="submit">
              <i class="fas fa-arrow-right"></i>Execute
            </button>
          </form>
        </section>

        <section class="sql-result">
          <% if (typeof messages.result !== 'undefined' && messages.result !==
          []) { %> <% if (messages.result.length > 0) { %>
          <table>
            <thead>
              <tr>
                <% for (const key in messages.result[0]) { %>
                <th><%= key %></th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% for (const row of messages.result) { %>
              <tr>
                <% for (const key in row) { %>
                <td><%= row[key] %></td>
                <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
          <% } else { %>
          <p>No results found!</p>
          <% } %> <% } else { %>
          <p>No results found!</p>
          <% } %>
        </section>
      </article>
    </main>

    <!-- Scripts -->
    <script
      src="https://kit.fontawesome.com/5189c9619d.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/init.js"></script>
    <script src="/js/menu.js"></script>
  </body>
</html>
